@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@font-face {
  font-family: PlayfairDisplay;
  src: url('/template/hotel/assets/fonts/PlayfairDisplay-Regular.ttf');
}


$Montserrat: 'Montserrat', sans-serif;
$PlayfairDisplay: 'PlayfairDisplay', serif;